.recipeCard{
    cursor: pointer;
    width: 385px;
    float: left;
    margin: 20px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #787676;
}
.recipeTitle{
    font-weight: bold;
    margin: 10px 0;
}
.recipeSubTitle{
    
}